.assemble68k.c.un~
.assemble68k.h.un~
.compile.c.swp
.compile.c.un~
.compile.h.un~
.main.h.un~
.optimize1.c.swp
.optimize1.c.un~
.optimize1.h.swp
.optimize1.h.un~
.parse.h.swp
.parse.h.un~
.test.c.un~
.test2.b.un~
.translate.c.swp
.translate.c.un~
TiBc
TiBc.89y
TiBc.89z
TiBc.exe
a.out
allocate.o
assemble.c
assemble68k.c~
assemble68k.h~
benbc.exe
compile.c~
compile.h~
compile.o
compile_test.exe
dictionary.o
dictionary_test.exe
examples/.collatz.b.un~
examples/.fibonacci.b.swp
examples/.fibonacci.b.un~
examples/collatz.b~
examples/count.b
examples/fibonacci.b~
factorial.out
fibonacci.out
hello
hello.c
include.h
include68k.o
input.out
interpret.c
interpret.h
linked_list.o
main.h~
main.o
malloc.b
malloc.out
massif.out.65
massif.out.77
optimize1.c~
optimize1.h~
optimize1.o
optimize2.o
parse.h~
parse.o
src/
test.89z
test.b
test.c
test.c~
test.exe
test.out
test2.b
test2.b~
test2.out
translate.c~
translate.o
translate_test.exe
ubuntubc
..gitignore.un~
.gitignore~
.calculator.b.un~
.include68k.c.swp
.include68k.c.un~
.include68k.h.swp
.include68k.h.un~
.line.b.un~
.parse.c.un~
.test.b.un~
.test.out.swp
.translate.h.swp
calculator.b
calculator.b~
calculator.out
include68k.c~
include68k.h~
line.b
line.b~
line.out
parse.c~
test.b~
